{{#red}}feebs uses OpenSSL to generate RSA-SHA1 keys to allow your add-on to
sign outbound OAuth requests to the host. However, it looks like OpenSSL
is not available on your system. If you're on Windows, there are binary
distributions of OpenSSL available here:

    {{#underline}}http://www.openssl.org/related/binaries.html{{/underline}}

Once you install OpenSSL, you'll be able to just run the following command
to generate your keys:

    feebs keygen{{/red}}
