{{#bold}}feebs-cli{{/bold}} -- CLI for Atlassian Plugins 3 Add-ons

{{#yellow}}Usage: feebs [-h|--help] <command> [<args>]{{/yellow}}

The most commonly used feebs commands are:
    keygen      Generate public and private RSA keys
    new         Generate a new Atlassian Connect Add-on scaffold